<h1>Create a Practice Log</h1>

<form method="post">
  <label for="practice-date">Practice Date:</label>
  <input type="date", id="practice-date"><br><br>
  <label for="start-time">Start Time:</label>
  <input type="time" id="start-time" name="start-time"><br><br>
  <label for="end-time">End Time:</label>
  <input type="time" id="end-time" name="end-time"><br><br>
  <label for="notes">Practice Notes</label><br>
  <textarea id="notes" name="notes">
  </textarea><br><br>
  <input type="submit" value="Create log entry">
</form>
